<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Mozilla Brasil</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Lato:100,400,700,900' rel='stylesheet' type='text/css'>
	</head>

	<body>
			<div id="conteudo">
				
				<div id="logo_campus">Campus Party</div>
				
				<div class="social_media">
					<a href="http://fb.com/mozillabrasil" target="_blank"><h4>f</h4></a>
				</div>
				<div class="social_media">
					<a href="http://twitter.com/mozillabrasil" target="_blank"><h4>t</h4></a>
				</div>
				
				<div class="logo_mozilla"></div>
				
				<div id="logo_campus_peq"></div>
				
				<div id="texto">
					<h2 style="position:relative;">Olá!</h2>
					<p style="position:relative;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Pellentesque auctor nisi id magna consequat sagittis.</p>
					<h3 style="position:relative;">HACKATHON | ATIVIDADES | FAÇA PARTE HACKATHON | ATIVIDADES | FAÇA PARTE</h3>
				</div>
								
			</div>
			<div id="fundo"></div>
	</body>
</html>